* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 1.7rem 1rem;
    background-color: #cebfbf85;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

select {
    color: #333;
    background-color: #e96e4c;
    font-size: 16px;
    border: 2px solid #100b0b;
    padding: 10px;
    margin: 35px;
    width: 300px;
    height: 40px;
}