    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        background-image: url('../image/1282598.jpg');
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    /*nav */
    
    header {
        display: flex;
        padding: 1.7rem 1rem;
        background-color: #dfdfdf48;
        backdrop-filter: blur(10px);
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        margin: auto;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding: 0;
        background-color: transparent;
        overflow: hidden;
    }
    
    li {
        padding: 0rem 1.1rem;
        float: left;
    }
    
    li a {
        color: #2f002c;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .7px;
    }
    
    li a:hover {
        color: #C8363E;
        transition: all .3s ease-in-out
    }
    
    .product-list li h3 {
        font-size: 1.2em;
        margin: 10px 0;
        color: rgba(189, 189, 189, 0.96);
    }
    
    .product-list li p {
        font-size: 0.8em;
        margin: 0 0 10px 0;
    }
    
    .product-list li img {
        width: 100%;
        max-width: 150px;
        height: auto;
        border-radius: 30px;
    }
    
    .product-list li .price {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        color: #ff6600;
        margin: 10px 0;
    }
    /* Style du formulaire */
    /* Style du bouton */
    
    #show-form-btn {
        background-color: #00bfff73;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 20px;
    }